<div class="sign-in-page">
  <div class="sign-in-page__form-container">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="form-section">
        <label class="form-label" for="email">Email:</label>
        <input class="form-input" id="email" formControlName="email" type="email"/>
        @if (f['email'].touched && f['email'].invalid) {
          <div>
            @if (f['email'].errors?.['required']) {
              <div class="form-error">Email is required</div>
            }
            @if (f['email'].errors?.['email']) {
              <div class="form-error">Email format is invalid</div>
            }
          </div>
        }
      </div>
      <div class="form-section">
        <label class="form-label" for="password">Password:</label>
        <input class="form-input" id="password" formControlName="password" type="password"/>
        @if (f['password'].touched && f['password'].invalid) {
          <div>
            @if (f['password'].errors?.['required']) {
              <div class="form-error">Password is required</div>
            }
          </div>
        }
      </div>
      <div class="form-section">
        <button class="form-submit-button" type="submit" [disabled]="signInForm.invalid">Sign In</button>
      </div>
    </form>
  </div>
</div>
