<nav class="navbar">
  <div class="navbar__links">
    <a class="links__item" routerLink="/screenings">
      Screenings
    </a>
  </div>
  <h1 class="navbar__header" routerLink="">
    Cinema
  </h1>
  <div class="navbar__links">
    @if (isUsher$ | async) {
      <a class="links__item" routerLink="/validate-ticket">
        Validate ticket
      </a>
    }
    @if ((isLoggedIn$ | async)) {
      <a class="links__item" (click)="authService.signOut()">
        Sign out
      </a>
    } @else {
      <a class="links__item" routerLink="/sign-in">
        Sign in
      </a>
      <a class="links__item" routerLink="/sign-up">
        Sign up
      </a>
    }
  </div>
</nav>
