.navbar {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--navbar);
}

.navbar__header {
  font-family: 'HeaderFancy', serif;
  font-size: 3.5rem;
  font-weight: 400;
  color: var(--text);
  text-align: center;
  padding: 0 2rem;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  width: 400px;
  justify-content: center;
}

.links__item {
  font-family: 'Header', serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--secondary);
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}
