<div class="flex-container">
  <div class="width-60">
    <div class="screening-room">
      <div class="screening-room__screen"> SCREEN </div>
      @for (row of rows; track row) {
        <div class="screening-room__row">
          @for (column of columns; track columns) {
            <app-seat [seat]="findSeatByRowAndColumn(row,column)"></app-seat>
          }
        </div>
      }
    </div>
    <div class="ticket-form-and-map-legend">
      <div class="map-legend">
        <div class="map-legend__item">
          <img class="seat" width="64" height="64" src="assets/icons/seat-icon.png" alt="seat icon">
          <p>Available seat</p>
        </div>
        <div class="map-legend__item">
          <img class="seat seat--not-available" width="64" height="64" src="assets/icons/seat-icon.png" alt="seat icon">
          <p>Taken seat</p>
        </div>
        <div class="map-legend__item">
          <img class="seat seat--selected" width="64" height="64" src="assets/icons/seat-icon.png" alt="seat icon">
          <p>Selected seat</p>
        </div>
      </div>
      <div class="ticket-form__navigation">
        <button class="navigation__button" (click)="navigate()">
          Next
        </button>
      </div>
    </div>
  </div>
</div>


