.flex-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screening-room {
  background-color: var(--background-opaque);
  padding: 1rem;
  border-radius: 8px;
}

.screening-room__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
