<div class="screenings-page">
  <div class="screenings-page__dates" style="color: aliceblue">
    <div>
      @for (date of dates; track $index) {
        <button
          class="dates__date-button"
          [ngClass]="buttonSelected[$index] ? 'date-button--selected' : ''"
          (click)="getScreenings($index)">
          {{ date | date:"EEE" }}
        </button>
      }
    </div>
    <div class="dates__instruction">
      Please select your preferred screening date by clicking on the day.
    </div>
  </div>
  <div class="screenings-page__screenings">
    <app-movies-carousel [moviesWithScreenings]="moviesWithScreenings"></app-movies-carousel>
  </div>
</div>

