<div class="landing-page">
  <div class="flex-row">
    <section class="landing-page__welcome-message">
      <h2 class="welcome-message__header">
        About us
      </h2>
      <p class="welcome-message__message">
        At Cinema, we bring you the latest blockbusters and timeless classics
        in an unforgettable viewing experience. Our state-of-the-art facilities
        and comfortable seating ensure you enjoy every moment.
      </p>
    </section>
    <section class="landing-page__screenings-info">
      <h2 class="screenings-info__header">
        Explore Screenings
      </h2>
      <ul class="screenings-info__list">
        <li class="list__item">
          Browse our upcoming screenings and plan your next movie night.
        </li>
        <li class="list__item">
          Discover what’s playing today and catch the latest hits.
        </li>
      </ul>
    </section>
  </div>
  <section class="flex-row">
    <div class="flex-1">
      <app-lp-info-card
        header="Test"
        description="Lorem ipsum dolor sit"
        redirectTo=""
      >
      </app-lp-info-card>
    </div>
    <div class="flex-1">
      <app-lp-info-card
        header="Test"
        description="Lorem ipsum dolor sit"
        redirectTo=""
      >
      </app-lp-info-card>
    </div>
    <div class="flex-1">
      <app-lp-info-card
        header="Test"
        description="Lorem ipsum dolor sit"
        redirectTo=""
      >
      </app-lp-info-card>
    </div>
  </section>
</div>
